body {
  font-family: "Gilroy", sans-serif;
  background-color: #fbfbfb;
  font-style: normal;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* ------------------------------Header----------------------------- */

.header {
  padding: 20px 0;
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header-logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.open-menu-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  line-height: 0;
}

.open-menu-icon {
  stroke: #0c0c0c;
}

.header-menu-list {
  display: none;
}

.header-socials-list {
  display: none;
}

/* ------------------------------Hero----------------------------- */

.hero {
  padding: 80px 0 100px 0;
}

.hero-container {
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.hero-list {
  display: flex;
  justify-content: space-between;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 597px;
}

.hero-title {
  color: #0c0c0c;
  font-weight: 600;
  font-size: 72px;
  line-height: 87%;
  letter-spacing: -0.02em;
}

.colored {
  color: #3350e9;
}

.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  width: 480px;
}

.hero-team-container {
  max-width: 146px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team-card {
  background-color: none;
}

.scroll-link {
  color: #0c0c0c;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: right;
}

.hero-bg {
  background: rgba(12, 12, 12, 0.2), url("path_to_image");
  border-radius: 50px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 26px 0;
  }

  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .header-navigation {
    padding: 26px 0;
  }

  .header-logo {
    font-size: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 65px;
  }

  .open-menu-btn {
    display: none;
  }

  .header-menu-list {
    color: #0c0c0c;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    display: flex;
    gap: 40px;
  }

  .header-menu-link {
    color: #0c0c0c;
  }

  .header-socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .header-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 36px;
    height: 36px;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    padding: 8px;
  }

  .header-social-icon {
    fill: #0c0c0c;
    transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-social-icon:hover,
  .header-social-icon:focus {
    fill: #3350e9;
  }
}
